/* #2196F3 - акцент */
/* #757575 - цвет контактов шапки */
/* #212121 - цвет заголовков, цвет навигации*/
/* #757575 - цвет абзацев */
/* #2F303A - цвет герой-футер */
/* #F5F5F5 - цвет секция 3,4 */
/* #F5F4FA - цвет секция команда */
/* #000000 - цвет лого */
/* #FFFFFF - цвет адрес,  цвет фона шапки, главного заголовка */
:root {
	--acent-color: #2196f3;
	--primary-text-color: #757575;
	--title-text-color: #212121;
}

body {
	background-color: #f5f5f5;
	color: var(--primary-text-color);
	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;
}
ul {
	list-style: none;
}

/* Header CSS */
.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
.page-header {
	background-color: #ffffff;
}
.logo {
	color: #000000;
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	text-decoration: none;
}

.part-logo {
	color: var(--acent-color);
}

.site-nav .link {
	color: var(--title-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--acent-color);
}
.site-nav .link.current {
	color: var(--acent-color);
}

.list {
	margin: 0;
	padding: 0;
}
.page-header .contacts {
	color: #757575;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
}
.page-header .contacts:hover,
.page-header .contacts:focus {
	color: var(--acent-color);
}

/* Hero CSS */

.hero {
	background-color: #2f303a;
	text-align: center;
	margin-bottom: 94px;
}
.hero-title {
	margin-top: 0;
	margin-bottom: 30px;

	color: #ffffff;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-align: center;
	text-transform: uppercase;
}
.button {
	background-color: var(--acent-color);
	font-family: Roboto, sans-serif;
	color: #ffffff;
	cursor: pointer;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
}

/* MAIN CSS (without hero) */

.section .section-title {
	color: var(--title-text-color);

	font-size: 14px;
	line-height: 1.14;
}

.preference {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	/* margin-top: 0; */
	margin-bottom: 100px;
}

.preference .section-title {
	margin-top: 0;
	margin-bottom: 10px;
}
.preference .text {
	font-size: 14px;
	line-height: 1.71;
	margin-top: 0;
	margin-bottom: 0;
}

.container.teams {
	padding-bottom: 94px;
	padding-top: 94px;
}
.section.workfield {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	margin-bottom: 94px;
}
.our-workfield {
	padding: 0;
}

.section-title.work,
.section-title.crew {
	margin-top: 0;
	margin-bottom: 50px;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
}
.team {
	padding: 0;
}

.section-title.person {
	margin-top: 30px;
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.88;
	text-align: center;
}

.position {
	margin-top: 0;
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 1.88;
	text-align: center;
}

/* footer CSS */
.container.foot {
	padding-top: 60px;
	padding-bottom: 60px;
}
.page-footer {
	background-color: #2f303a;
}
.page-footer .logo {
	color: #ffffff;
}
.street {
	margin: 0;
	margin-bottom: 9px;
	color: #ffffff;
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
}
.address {
	margin-top: 20px;
}
.address ul {
	padding: 0;
	margin: 0;
}
.mail {
	margin-bottom: 9px;
}
.page-footer .contacts {
	color: rgba(255, 255, 255, 0.6);
	font-style: normal;

	font-size: 14px;
	line-height: 1.71;
	text-decoration: none;
}

/* portfolio filters CSS */

.filters .button {
	color: #212121;
	background-color: #f5f4fa;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
}

.filters .button:hover,
.filters .button:focus {
	color: #ffffff;
	background-color: var(--acent-color);
}

.section-title.project {
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.projects p {
	font-size: 16px;
	line-height: 1.88;
}
