/* #2196F3 - акцент */
/* #757575 - цвет контактов шапки */
/* #212121 - цвет заголовков, цвет навигации*/
/* #757575 - цвет абзацев */
/* #2F303A - цвет герой-футер */
/* #F5F5F5 - цвет секция 3,4 */
/* #F5F4FA - цвет секция команда */
/* #000000 - цвет лого */
/* #FFFFFF - цвет адрес,  цвет фона шапки, главного заголовка */
:root {
	--acent-color: #2196f3;
	--primary-text-color: #757575;
	--title-text-color: #212121;
}

body {
	background-color: #f5f5f5;
	color: var(--primary-text-color);
}
ul {
	list-style: none;
}

/* Header CSS */

.page-header {
	background-color: #ffffff;
}
.logo {
	color: #000000;
}
.part-logo {
	color: var(--acent-color);
}

.site-nav .link {
	color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--acent-color);
}
.site-nav .link.current {
	color: var(--acent-color);
}
.page-header .contacts {
	color: #757575;
}
.page-header .contacts:hover,
.page-header .contacts:focus {
	color: var(--acent-color);
}

/* Hero CSS */

.hero {
	background-color: #2f303a;
}
.hero-title {
	color: #ffffff;
}
.button {
	background-color: var(--acent-color);
	color: #ffffff;
	cursor: pointer;
}

/* MAIN CSS (without hero) */

.section .section-title {
	color: var(--title-text-color);
}
.section.team {
	background-color: #f5f4fa;
}

/* footer CSS */

.page-footer {
	background-color: #2f303a;
}
.page-footer .logo {
	color: #ffffff;
}
.street {
	color: #ffffff;
}
.page-footer .contacts {
	color: rgba(255, 255, 255, 0.6);
}

/* portfolio filters CSS */

.filters .button {
	color: #212121;
	background-color: #f5f4fa;
}

.filters .button:hover,
.filters .button:focus {
	color: #ffffff;
	background-color: var(--acent-color);
}
